/* fonts insertion */
@font-face {
    font-family: "Lato-regular";  
    src: url("../fonts/Lato-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
@font-face  {
    font-family: "Dosis-Bold";
    src: url("../fonts/Dosis-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }
    /* body styling */
body {
        font-family: Dosis;
        font-weight: 150;
}
    /* logotype styling */
.logo {
    display: block;
    height: 260px;
    width: 430px;
    margin: auto;
    margin-top:100px;
    }
    /* social links styling */
.soclinks {
    position: fixed;
    border-radius: 1 10px 10px 0;
    margin-left: -8px;
    margin-top: -60px;
    top: 35%;
    background-color: #45124c;
}
.soclinks ul {
    margin: 0;
    padding: 10px;
}
.soclinks li {
    list-style-type: none;
    color: #fff;
    padding: 8px 0;
}
.soclinks a {
    list-style-type: none;
    color: #fff;
     font-size: 20px;
     transition: 0.5s;
}
.soclinks a:hover {
    color: #c665d3;
}
    /* first block styling */
.first-partition {
    background: url("../img/bg.jpg");
    background-size: cover;
    height: 905px;
    padding: 30px 0;
}
.first-partition-title {
    font-size: 70px;
    text-transform: uppercase;
    color: #2f1946;
    margin-top: 170px;
    text-align: center;
}
    /*cta rectangle styling*/
.call-to-action-rectangle {
    display: flex;
    position: relative;
    justify-content: center;
    }
.ctabtn {
    display: inherit;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: #894693;
    padding: 15px 25px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.8s;
}
.ctabtn-outline {
    display: inherit;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 10px 15px;
    border: 0.7px solid #81398b;
}
.ctabtn:hover {
    background-color: #c665d3;
}
.ctabtn:active {
    background-color: #974ba1;
}
.ctabtn-outline i {
    padding-left: 15px;
}


